# Log files
*.log

# Environment variables / secrets
.env
.env.*

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
env/

# IDE / Editor configurations
.vscode/
.idea/